#foreach($chatTime in $chatMap.keySet())
	#foreach($!chat in $chatMap.get($!chatTime))
		#if($chatMap.get($!chatTime).keySet() == "[" + $!senderUserName + "]")
			<dl class="me m1">
				<dt>
					<a><img src="$!web.contextPath/resources/images/chat7.png" alt=""/></a>
					<ul>
						<li>
							<div style="display: inline-block; margin-right: 9px;">$!senderUserName<span>$!CommUtil.formatLongDate($!chatTime)</span></div>
						</li>
					</ul>
				</dt>
				<dd style="margin-right: -213px;">$chat</dd>
			</dl>
		#else
			<dl class="vhe m1">
				<dt>
					<a href="#"><img src="$!web.contextPath/resources/images/chat4.png" alt=""/></a>
					<ul>
						<li>
							<div style="display: inline-block; margin-right: 9px;">$receiverUserName<span>$!CommUtil.formatLongDate($!chatTime)</span></div>
						</li>
					</ul>
				</dt>
				<dd>$chat</dd>
			</dl>
		#end
	#end
#end