<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Test Controller</title>
</head>
<body>
	<h1>$!checkout.id</h1>
	<h1>$!checkout.addTime</h1>
	<h1>$!checkout.deleteStatus</h1>
	<h1>$!checkout.checkout_store_id</h1>
	<h1>$!checkout.checkoutTime</h1>
	<h1>$!checkout.audit_status</h1>
	<h1>$!checkout.order_count</h1>
	<h1>$!checkout.auditTime</h1>
	<h1>$!checkout.payment_id</h1>
	<h1>$!checkout.checkout_status</h1>
	<h1>$!checkout.totalPrice</h1>
	<br/>
	<h1>$!boolean</h1>
</body>
</html>