<html>
<head>
	<title>welcome</title>
	<style>
		a{ position: relative; text-decoration: none; border-bottom: 1px dotted #ccc; padding-bottom: 5px; }
		a em{ display: none; position: absolute; padding: 5px; border: 1px solid #ccc; left: 20px; top: 30px; width: 60px; }
		a:hover{border-bottom: 1px solid #ccc;}
		a:hover em{ display: block; }
	</style>
</head>
<body>
<a href="$!web.contextPath/senderTigaseChat.htm">聊天1</a>
<br>
<a href="$!web.contextPath/receiverTigaseChat.htm">聊天2</a>
<br>
<a href="$!web.contextPath/qeLogin.htm">二维码登录页面</a>
<br>
<a href="$!web.contextPath/login.htm">Shiro登录页面</a>
<br>
<a href="$!web.contextPath/testSpring.htm">testSpring</a>
<br>
<a href="$!web.contextPath/testVelocitiy.htm">testVelocitiy</a>
<br>
<a href="$!web.contextPath/testJPAGeneralfindById.htm">testJPAGeneralfindById</a>
<br>
<a href="$!web.contextPath/TestJPAPackageFindById.htm">TestJPAPackageFindById</a>
<br>
<a href="$!web.contextPath/testJPAPackageSave.htm">testJPAPackageSave</a>
<br>
<a href="$!web.contextPath/testJPAPackageQueryAndDelete.htm">testJPAPackageQueryAndDelete</a>
<br>
<a href="$!web.contextPath/testJPAPackageUpdate.htm">testJPAPackageUpdate</a>
<br>
</body>
</html>
